<head>
    <title>POECAT Chinese Poem Database</title>
</head>
<body>
    <h2 align="center">POECAT Chinese Poem Database</h2>
    <p align="center">An open-source poem database and its applications.<br />Created by EdwardMashed</p>
    <p style="color: darkred" align="center">{{ poem_count }} poems catalogued so far</p>

    <h3>Poem searcher v0.1: <a href="../poemsearch/">Link</a></h3>
    <p>Search poems with basic filter using POECAT database</p>

    <h3>Advanced Feihua v0.1: <a href="../advancedfeihua/">Link</a></h3>
    <p>An interactive game based on POECAT database</p>
</body>